transformers==4.37.0
tokenizers==0.15.0
sentencepiece==0.1.99
shortuuid
accelerate==0.23.0
peft==0.4.0
pydantic
markdown2[all]
numpy==1.26.4
scikit-learn==1.2.2
requests
httpx==0.24.0
uvicorn
fastapi
einops==0.6.1
einops-exts==0.0.4
timm==0.9.16
open_clip_torch
diffusers[torch]
torchtext==0.18.0
ezcolorlog
gcsfs==2024.3.1
google-api-core==1.34.1
huggingface-hub==0.25.2
tabulate
decord
zstandard
imageio
opencv-python
